<ion-header>
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    <ion-grid>
      <ion-row>
        <ion-col size="6" offset="3">
          <ion-img style="width: 170px;" src="../../assets/auth.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card color="danger" *ngIf="isLoginFailed">
            <ion-card-content>
              {{errorMsg}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <form #f="ngForm" (submit)="f.form.valid && onSubmit(f)">
        <ion-row>
          <ion-col size-md="6" offset-md="3">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input clearInput type="email" name="email" ngModel #email required email></ion-input>
            </ion-item><br>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input clearInput type="password" name="password" ngModel #password required min="6"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" fill="solid" expand="block">
              LOGIN
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-row>
        <ion-col>
          <ion-buttons class="ion-justify-content-between">
            <ion-button routerLink="/register" color="success" fill="solid">
              REGISTER
            </ion-button>
            <ion-button routerLink="/reset-password" color="medium" fill="solid">
              FORGET PASSWORD
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </div>
</ion-content>
